@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

body {
    padding: 0 3%;
}

header {
    font-size: 2rem;
}

header > p {
    margin: 0;
}

header > .nav > h2 {
    margin: 0;
    padding: 0;
}

header > .nav > h2, marquee {
    color:blueviolet;
    font-family: 'Tilt Prism', cursive;
    font-weight: lighter;
}

.nav {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    border: 3px solid blueviolet;
    border-radius: 50%;
    width: 8%;
    padding: 3px;
}

a {
    text-decoration: none;
}

nav a {
    color: black;
    display: inline-block;
    font-family: monospace;
    font-size: xx-large;
    margin: 0 1rem;
}


nav a:hover {
    text-decoration: none;
    color: blueviolet;
    border-bottom: 0.1rem solid blueviolet;
    transform: scale(1.2);
}

h2 > span, footer > section > h4 {
    font-family: 'Cedarville Cursive', cursive;
}

header > p {
    text-align: center;
}

.bio {
    font-family: monospace;
    font-size: 1.8rem;
}
.styledText {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3rem;
    font-weight: lighter;
    color:blueviolet;
}

.showcase {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.showcase > figure {
    width: 22%;
    cursor: pointer;
}

.showcase > figure > img {
    width: 100%;
    border-radius: 10%;
    margin: 0 auto;
}

figure {
    margin: 0;
    display: block;
}

figure:hover {
    transform: scale(1.1);
}

figcaption { 
    padding: 5px;
    font-family: monospace;
    font-size: large;
    text-align: center;
    background-color:rgb(255, 195, 43);
    color: white;
    border-radius: 0.5rem;
}

.receipe {
    display: flex;
    justify-content: space-between;
}

.receipe > a:hover {
    text-decoration: none;
}

.receipe > a > figure {
    width: 80%;
    margin: 0 auto;
}

.receipe > a > figure > img {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

.receipe > a > figure > figcaption {
    text-align: center;
}

footer {
    background-color: gray;
    text-align: center;
    padding-bottom: 5%;
}

footer > section {
    padding: 0 2rem;
}

footer > section > h4 {
    margin: 0;
    font-size: 7rem;
    font-weight: lighter;
    color:rgb(255, 195, 43);
}

footer h5 , footer p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

footer > section > h5 {
    font-family:monospace;
    margin: 0;
    font-size: 1.5rem;
}

footer p {
    font-size: large;
}

#name {
    padding: 0.5rem;
    width: 14rem;
}

#mail {
    padding: 0.5rem;
    width: 11rem;
}

#name, #mail {
    outline: none;
}

#go {
    background-color:rgb(255, 195, 43);
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border: none;
    padding: 0.6rem;
    text-align: center;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.credits {
    font-size: small;
}

marquee {
    font-size: medium;
}

@media (max-width: 600px){
    body {
        padding: 0 0.5%;
    }

    .nav {
        display: block;
        text-align: center;
    }

    nav {
        justify-content: center;
    }

    .styledText {
        font-size: 2rem;
    }

    .showcase {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 2;
        row-gap: 1rem;
    }

    .showcase > figure {
        width: 100%;
        margin: 0 auto;
    }

    .receipe {
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
    
    .receipe > a > figure > figcaption {
        font-size: 0.7rem;
    }
    
    footer > section >  h4 {
        margin: 0;
        font-size: 3rem;
    }

    .bio {
        font-size: 1rem;
    }

    nav a, footer > section > h5 {
        font-size: medium;
    }

    marquee, footer > section > p {
        font-size: small;
    }
}
