@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
    padding: 0 3%;
}

header {
    font-size: 0.8rem;
}

header > p {
    margin: 0;
}

header > .nav > h2, marquee {
    color:blueviolet;
    font-family: monospace;
    font-weight: lighter;
}

.nav {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

nav a {
    color: black;
    display: inline-block;
    font-family: monospace;
    font-size: large;
    margin: 0 0.3rem;
}

h2 > span, footer > section > h4 {
    font-family: 'Cedarville Cursive', cursive;
}

header > p {
    text-align: center;
}

.bio {
    font-family: monospace;
    font-size: large;
}
.styledText {
    font-family: 'Cedarville Cursive', cursive;
    font-size: x-large;
    font-weight: lighter;
    color:blueviolet;
}

.showcase {
    display: flex;
    justify-content: space-around;
}

.showcase > figure {
    width: 70%;
    margin: 0 auto;
}

.showcase > figure > img {
    width: 100%;
    border-radius: 10%;
    margin: 0 auto;
}

figure {
    margin: 0;
    display: block;
    /* border: 1px dotted gray; */
}

figcaption { 
    padding: 5px;
    font-family: monospace;
    font-size: large;
    text-align: center;
    background-color:rgb(255, 195, 43);
    color: white;
    border-radius: 0.5rem;
}

.receipe {
    display: flex;
    justify-content: space-between;
}

.receipe > a:hover {
    text-decoration: none;
}

.receipe > a > figure {
    width: 80%;
    margin: 0 auto;
}

.receipe > a > figure > img {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

.receipe > a > figure > figcaption {
    text-align: center;
}

footer {
    background-color: gray;
    text-align: center;
    padding-bottom: 10%;
}

footer > section {
    padding: 0 2rem;
}

footer > section > h4 {
    margin: 0;
    font-size: 7rem;
    font-weight: lighter;
    color:rgb(255, 195, 43);
}

footer h5 , footer p {
    font-family: monospace;
    color: white;
}

footer h5 {
    font-size: x-large;
}

footer p {
    font-size: large;
}

#name {
    padding: 1%;
    width: 15rem;
}

#mail {
    padding: 1%;
    width: 11rem;
}

#go {
    background-color:rgb(255, 195, 43);
    color: white;
    font-weight: bolder;
    border: none;
    padding: 1%;
    width: 3.6rem;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

marquee {
    font-size: x-large;
}

@media (max-width: 600px){
    body {
        padding: 0 0.5%;
    }

    .nav {
        display: block;
        text-align: center;
    }

    nav {
        justify-content: center;
    }

    nav a {
        font-size: medium;
    }

    .showcase {
        display: block;
    }

    .showcase > figure {
        width: 100%;
        margin: 0 auto;
    }

    .receipe {
        display: block;
    }

    footer > section >  h4 {
        margin: 0;
        font-size: 3rem;
    }
}
